/* Fondo general */
body {
    background: #f3f4f6;
}

/* Header */
header {
    background-color: #1e3a8a; /* Azul oscuro */
}

/* Links del menú */
.menu li a {
    color: #1e3a8a;
}

.menu li a:hover {
    color: #dc2626;
}

/* Contenedor */
.container {
    background-color: white;
}

/* Título secundario */
h2 {
    color: #1e3a8a;
}

/* Mensaje éxito */
.success-message {
    background-color: #dbeafe;
    color: #1e3a8a;
    border: 2px solid #93c5fd;
}

/* Tabla encabezado */
thead {
    background-color: #1e3a8a;
}

/* Hover filas */
tbody tr:hover {
    background-color: #e0e7ff;
}

/* Inputs */
input[type="number"] {
    border: 1.8px solid #1e3a8a;
}

input[type="number"]:focus {
    border-color: #3b82f6;
}

/* Botón guardar */
button[type="submit"] {
    background-color: #1e3a8a;
}

button[type="submit"]:hover {
    background-color: #1f2937;
}

/* Sidebar */
.sidebar {
    background-color: #1f2937;
}